---
# ehlo
---
<!DOCTYPE html>
<html lang="en">
{% include_relative head.html %}
<body>
{% include_relative header.html %}

<section class="fdb-block fdb-viewport" style="background-color: lightblue !important;">
    <div class="container justify-content-center align-items-center">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-8">
                <img alt="image" style="height: 200px;" src="graph.svg">
                <span class="flex-nowrap">
                    <h1>WooCommerce Caching Plugin</h1>
                </span>
                <p class="lead" style="color: black;">Lightning fast Product Page, Product Listing, and Product Search.</p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-6 m-md-auto ml-lg-0 mr-lg-auto">
                <img alt="image" class="img-fluid" src="product.svg">
            </div>
            <div class="col-12 col-lg-6 col-xl-5 ml-sm-auto pt-5 pt-lg-0">
                <h1>Product Page Caching</h1>

                <div class="row pt-4 pt-xl-5">
                    <div class="col-12 col-sm-6 col-xl-5">
                        <h4><strong>Feature One</strong></h4>
                        <p>Far far away, behind the word mountains</p>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
                        <h4><strong>Feature Two</strong></h4>
                        <p>Separated they live in Bookmarksgrove</p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-12 col-sm-6 col-xl-5">
                        <h4><strong>Feature Three</strong></h4>
                        <p>A small river named Duden flows by me</p>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
                        <h4><strong>Feature Four</strong></h4>
                        <p>Separated they live in Bookmarksgrove</p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <button class="btn btn-primary" type="button">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block" style="background-color: whitesmoke;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-6 m-md-auto ml-lg-0 mr-lg-auto">
                <h1>Product Listing Caching</h1>

                <div class="row pt-4 pt-xl-5">
                    <div class="col-12 col-sm-6 col-xl-5">
                        <h4><strong>Feature One</strong></h4>
                        <p>Far far away, behind the word mountains</p>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
                        <h4><strong>Feature Two</strong></h4>
                        <p>Separated they live in Bookmarksgrove</p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-12 col-sm-6 col-xl-5">
                        <h4><strong>Feature Three</strong></h4>
                        <p>A small river named Duden flows by me</p>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
                        <h4><strong>Feature Four</strong></h4>
                        <p>Separated they live in Bookmarksgrove</p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <button class="btn btn-primary" type="button">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-5 ml-sm-auto pt-5 pt-lg-0">
                <img alt="image" class="img-fluid" src="list.svg">
            </div>
        </div>
    </div>
</section>

<section class="fdb-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-6 m-md-auto ml-lg-0 mr-lg-auto">
                <img alt="image" class="img-fluid" src="search.png">
            </div>
            <div class="col-12 col-lg-6 col-xl-5 ml-sm-auto pt-5 pt-lg-0">
                <h1>Product Search Caching</h1>

                <div class="row pt-4 pt-xl-5">
                    <div class="col-12 col-sm-6 col-xl-5">
                        <h4><strong>Feature One</strong></h4>
                        <p>Far far away, behind the word mountains</p>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
                        <h4><strong>Feature Two</strong></h4>
                        <p>Separated they live in Bookmarksgrove</p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-12 col-sm-6 col-xl-5">
                        <h4><strong>Feature Three</strong></h4>
                        <p>A small river named Duden flows by me</p>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
                        <h4><strong>Feature Four</strong></h4>
                        <p>Separated they live in Bookmarksgrove</p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <button class="btn btn-primary" type="button">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="fdb-block footer-small bg-dark">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col">
                <ul class="nav justify-content-center"></ul>

                <p class="h5 mt-5">© 2018 wpBooster Ltd.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
