---
# ehlo
---
<!DOCTYPE html>
<html lang="en">
{% include_relative head.html %}
<body>
{% include_relative header.html %}

<section class="fdb-block fdb-viewport" style="background-color: lightblue !important;">
    <div class="container justify-content-center align-items-center">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-8">
                <img alt="image" style="height: 200px;" src="graph.svg">
                <span class="flex-nowrap">
                    <h1>WooCommerce Caching Plugin</h1>
                </span>
                <p class="lead" style="color: black;">Lightning fast Product Page, Product Listing, and Product Search.</p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-left">
                <p class="lead">Increase your conversion rate and scalability using <strong>wpBooster</strong>, a <strong>caching plugin</strong> created specifically for <strong>WooCommerce</strong>. Optimise your <strong>Database, Templates, CSS and JavaScript</strong> files and <strong>Images</strong> while integrating seamlessly with other plugins.</p>
            </div>
        </div>

        <div class="row text-left mt-5">
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
                <img alt="image" class="img-fluid rounded" src="product.png">
                <h3><strong>Product Page Caching</strong></h3>
                <p>Optimize product variations, product images, reviews and comments in one go.</p>
            </div>

            <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid rounded" src="products.png">
                <h3><strong>Product Listing Caching</strong></h3>
                <p>Fast loading of product sorting, filtering and paging.</p>
            </div>

            <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
                <img alt="image" class="img-fluid rounded" src="search.png">
                <h3><strong>Product Search Caching</strong></h3>
                <p>Instant search results, fast live search and filtering.</p>
            </div>
        </div>
    </div>
</section>

<footer class="fdb-block footer-small bg-dark">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col">
                <ul class="nav justify-content-center"></ul>
                <p class="h5 mt-5">© 2018 wpBooster</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>